<h1>
  <%= link_to 'Twitter', root_path %>
</h1>
<% if user_signed_in? %>
  <h3>
    logged in user: 
    <%= link_to current_user.name, user_path(current_user) %>
    (
    <%= current_user.id %>
    )
  </h3>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete'} %>
<% else%>
  <%= link_to 'Login', new_user_session_path %>
<% end %>