<li class="border-t px-3 py-2">
  <% if !tweet[:retweet_info].nil? %>
    <div class="flex text-gray-500 pb-1">
      <div class="flex justify-end h-6 w-11 mr-3">
        <%= embedded_svg 'retweet.svg', class: "fill-gray-500" %>
      </div>
      <%= link_to user_path(tweet[:retweet_info].user), class: "hover:underline" do %>
        <% if user_signed_in? && tweet[:retweet_info].user.id == current_user.id %>
          <p>リツイート済み</p>
        <% else %>
          <p>
            <%= tweet[:retweet_info].user.name %>
            さんがリツイートしました
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="flex">
    <div class="mr-3 h-12 w-12">
      <%= link_to user_path(tweet[:content].user) do %>
        <%= image_tag 'default_user.png' %>
      <% end %>
    </div>
    <div class="w-full">
      <%= link_to tweet[:content].user.name, user_path(tweet[:content].user), class: "font-bold text-lg hover:underline" %>
      <span class="text-gray-500">
        @<%= tweet[:content].user_id %>
        <%= tweet[:content].created_at.strftime('%m/%d %H:%M') %>
      </span>
      <div class=
        <%= from == 'tweets_show' ? "" :
          "hover:bg-gray-100 active:bg-gray-200"
        %>
      >
        <%= button_to tweet_path(tweet[:content]),
          method: :get,
          disabled: from == 'tweets_show',
          class: "w-full text-left",
          params: tweet[:retweet_info].nil? ? {} :{
            retweet_id: tweet[:retweet_info],
          } do
        %>
          <%= tweet[:content].text %>
        <% end %>
      </div>
      <%= render partial: 'share/tweet_item_retweet_button', locals: { tweet: tweet, from: from } %>
      <%= render partial: 'share/tweet_item_delete_button', locals: { tweet: tweet, from: from } %>
    </div>
  </div>
</li>