<li class="border-t px-3 py-2">
  <% if tweet.respond_to?(:retweet_id) && tweet.retweet_id.present? %>
    <div class="flex text-gray-500 pb-1">
      <div class="flex justify-end items-center h-6 w-11 mr-3">
        <svg class="fill-gray-500 h-5 w-5">
          <use xlink:href="#icons-retweet"></use>
        </svg>
      </div>
      <%= link_to user_path(tweet.retweet_user), class: "hover:underline", data: { turbo_frame: :main } do %>
        <% if user_signed_in? && tweet.retweet_user.id == current_user.id %>
          <p>リツイート済み</p>
        <% else %>
          <p>
            <%= tweet.retweet_user.name %>
            さんがリツイートしました
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="flex">
    <%= link_to user_path(tweet.user), data: { turbo_frame: :main } do %>
      <div class="mr-3 h-12 w-12 rounded-full overflow-hidden">
        <% if tweet.user.icon.attached? %>
          <%= image_tag tweet.user.icon.variant(resize: '200x200'), class: "bg-white" %>
        <% else %>
          <%= image_tag 'users/default_user' %>
        <% end %>
      </div>
    <% end %>
    <div class="w-full">
      <%= link_to tweet.user.name, user_path(tweet.user), class: "font-bold text-lg hover:underline", data: { turbo_frame: :main } %>
      <span class="text-gray-500">
        @<%= tweet.user_id %>
        <%= tweet.created_at.strftime('%m/%d %H:%M') %>
      </span>
      <div class="<%= request.path.match?(/^\/tweets\/[0-9]+$/) ? '' : 'hover:bg-gray-100 active:bg-gray-200' %>">
        <%= button_to tweet_path(tweet.id),
          method: :get,
          disabled: request.path.match?(/^\/tweets\/[0-9]+$/),
          class: "w-full text-left",
          data: { turbo_frame: :main },
          params: tweet.respond_to?(:retweet_id) && tweet.retweet_id.present? ? { retweet_id: tweet.retweet_id } : {} do %>
          <%= tweet.text %>
        <% end %>
      </div>
      <% if request.path.match?(/^\/tweets\/[0-9]+$/) %>
        <%= render partial: 'share/tweet_item_retweet_button_detail', locals: { tweet: tweet } %>
      <% else %>
        <%= render partial: 'share/tweet_item_retweet_button', locals: { tweet: tweet } %>
      <% end %>
    </div>
  </div>
</li>
