<h2 class="text-lg font-bold p-3">
  <%= link_to '←', :back, data: { turbo_frame: :main } %>
  <%= title %>
</h2>
<ul>
  <% users.each do |user| %>
    <li class="border-t px-3 py-2">
      <div class="flex">
        <%= link_to user_path(user) do %>
          <div class="mr-3 h-12 w-12 rounded-full overflow-hidden">
            <% if user.icon.attached? %>
              <%= image_tag user.icon.variant(resize: '200x200'), class: "bg-white" %>
            <% else %>
              <%= image_tag 'users/default_user' %>
            <% end %>
          </div>
        <% end %>
        <div class="w-full flex justify-between">
          <div>
            <%= link_to user.name, user_path(user), class: "font-bold text-lg hover:underline" %>
            <div class="text-gray-500">
              @<%= user.id %>
            </div>
          </div>
          <% if user_signed_in? && current_user.id != user.id %>
            <div class="flex items-center">
              <%= turbo_frame_tag "follow_button_#{user.id}" do %>
                <% if current_user.following_info(user).present? %>
                  <%= button_to follow_path(current_user.following_info(user)), method: :delete do %>
                    <div class="py-1 px-4 border rounded-full font-bold hover:border-red-300 hover:bg-red-100 hover:text-red-600 active:bg-red-200 duration-150">
                      フォロー中
                    </div>
                  <% end %>
                <% else %>
                  <%= button_to follows_path, method: :post, params: { follower_id: current_user.id, followee_id: user.id } do %>
                    <div class="py-1 px-4 rounded-full font-bold text-white bg-black hover:bg-gray-800 active:bg-gray-700 duration-150">
                      フォロー
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
