<h2><%= @user.name %></h2>
<ul>
  <h3>Following <%= @followees.count %></h3>
  <% @followees.each do |followee| %>
    <li>
      <%= link_to followee.name, user_path(followee) %>
    </li>
  <% end %>
</ul>
<ul>
  <h3>Follower <%= @followers.count %></h3>
  <% @followers.each do |follower| %>
    <li>
      <%= link_to follower.name, user_path(follower) %>
    </li>
  <% end %>
</ul>