<h2 class="text-lg font-bold pt-3">
  <%= link_to '←', :back %>
  プロフィールを編集
</h2>
<%= form_with  model: @user do |f| %>
  <div class="border border-gray-300 rounded-lg p-2 my-3">
    <%= f.label :icon %><br />
    <%= f.file_field :icon, class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
  </div>
  <div class="border border-gray-300 rounded-lg p-2 my-3">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
  </div>
  <div class="border border-gray-300 rounded-lg p-2 my-3">
    <%= f.label :bio %><br />
    <%= f.text_field :bio, class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
  </div>
  <div class="border border-gray-300 rounded-lg p-2 my-3">
    <%= f.label :location %><br />
    <%= f.text_field :location, class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
  </div>
  <div class="border border-gray-300 rounded-lg p-2 my-3">
    <%= f.label :website %><br />
    <%= f.text_field :website, class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
  </div>
  <div class="flex justify-end">
    <div class="w-32 text-center border my-3 py-1 px-3 rounded-full bg-twitter-primary text-white font-bold">
      <%= f.submit '保存' %>
    </div>
  </div>
<% end %>
