<h1>
  <%= link_to 'Twitter', root_path %>
</h1>
<% if user_signed_in? %>
  <h3>
    logged in user: 
    <%= link_to current_user.name, user_path(current_user) %>
    (
    <%= current_user.id %>
    )
  </h3>
  <h2><%= @user.name %></h2>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete'} %>
  <ul>
    <h3>Following <%= @followees.count %></h3>
    <% @followees.each do |followee| %>
      <li>
        <%= link_to followee.name, user_path(followee) %>
      </li>
    <% end %>
  </ul>
  <ul>
    <h3>Follower <%= @followers.count %></h3>
    <% @followers.each do |follower| %>
      <li>
        <%= link_to follower.name, user_path(follower) %>
      </li>
    <% end %>
  </ul>
  <% if @is_others and @is_following %>
    <%= button_to 'Unfollow',
      follow_path(@follow_rel_id),
      method: :delete,
      params: { user_id: @user.id}
    %>
  <% elsif @is_others %>
    <%= button_to 'Follow',
      follows_path,
      method: :post,
      params: { follower_id: current_user.id, followee_id: @user.id }
    %>
  <% end %>
  <h3>Tweets</h3>
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <% if tweet[:is_retweet] %>
          <em>retweet</em>
          <br>
        <% end %>
        <%= link_to tweet[:content].user.name, user_path(tweet[:content].user) %>
        <%= tweet[:content].text %>
        <%= tweet[:content].created_at.strftime('%m/%d %H:%M') %>
        <% if tweet[:is_retweeted] %>
          <br>
          <strong>
            retweeted
          </strong>
        <% else %>
          <%= button_to 'Retweet',
            retweets_path,
            method: :post,
            params: {
              user_id: current_user.id,
              tweet_id: tweet[:content].id,
              from: 'users_show',
              page: @user.id
            }
          %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <h2><%= @user.name %></h2>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete'} %>
  <ul>
    <h3>Following <%= @followees.count %></h3>
    <% @followees.each do |followee| %>
      <li>
        <%= link_to followee.name, user_path(followee) %>
      </li>
    <% end %>
  </ul>
  <ul>
    <h3>Follower <%= @followers.count %></h3>
    <% @followers.each do |follower| %>
      <li>
        <%= link_to follower.name, user_path(follower) %>
      </li>
    <% end %>
  </ul>
  <h3>Tweets</h3>
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <% if tweet[:is_retweet] %>
          <em>retweet</em>
          <br>
        <% end %>
        <%= link_to tweet[:content].user.name, user_path(tweet[:content].user) %>
        <%= tweet[:content].text %>
        <%= tweet[:content].created_at.strftime('%m/%d %H:%M') %>
      </li>
    <% end %>
  </ul>
<% end %>