<div class="container h-screen mx-auto flex justify-center">
  <div class="basis-3/12 flex justify-end">
    <div class="px-4">
      <%= render partial: 'share/navigation' %>
    </div>
  </div>
  <div class="basis-6/12 border-x overflow-y-scroll">
    <%= turbo_frame_tag :user_page do %>
      <%= render partial: 'user_info' %>
      <%= render partial: 'user_tweets' %>
    <% end %>
  </div>
  <div class="basis-3/12">
    <%= render partial: 'share/right_sidebar' %>
    <%= request.path_info %>
    <%= "/users/#{current_user.id}" %>
  </div>
</div>
