<h1>
  <%= link_to 'Twitter', root_path %>
</h1>
<% if user_signed_in? %>
  <h2>
    logged in user: 
    <%= link_to current_user.name, user_path(current_user) %>
    (
    <%= current_user.id %>
    )
  </h2>
  <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: 'delete'} %>
  <ul>
    <h3>Following <%= @followees.count %></h3>
    <% @followees.each do |followee| %>
      <li>
        <%= link_to followee.name, user_path(followee) %>
      </li>
    <% end %>
  </ul>
  <ul>
    <h3>Follower <%= @followers.count %></h3>
    <% @followers.each do |follower| %>
      <li>
        <%= link_to follower.name, user_path(follower) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
<h3><%= @user.name %>'s Tweets</h3>
<% if @is_others and @is_following %>
  <%= button_to 'Unfollow',
    follow_path(@follow_rel_id),
    method: :delete
  %>
<% elsif @is_others %>
  <%= button_to 'Follow',
    follows_path,
    method: :post,
    params: { follower_id: current_user.id, followee_id: @user.id }
  %>
<% end %>
<ul>
  <% @my_tweets.each do |tweet| %>
    <li>
      <%= link_to tweet.user.name, user_path(tweet.user) %>
      <%= tweet.text %>
      <%= tweet.created_at.strftime('%m/%d %H:%M') %>
    </li>
  <% end %>
</ul>