<div class="container h-screen mx-auto flex justify-center">
  <div class="basis-3/12 flex justify-end">
    <div class="px-4">
      <%= render partial: 'share/navigation' %>
    </div>
  </div>
  <div class="basis-6/12 border-x overflow-y-scroll">
    <%= turbo_frame_tag :home_index do %>
      <h2 class="text-lg font-bold p-3">ホーム</h2>
      <%= turbo_frame_tag :tweet_new, src: new_tweet_path, loading: :lazy %>
      <%= turbo_frame_tag :tweets_index, src: tweets_path, loading: :lazy %>
    <% end %>
  </div>
  <div class="basis-3/12">
    <%= render partial: 'share/right_sidebar' %>
  </div>
</div>
