<%= turbo_frame_tag :main do %>
  <h2 class="text-lg font-bold">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo_frame: '_top' }) do |f| %>
    <div class="border border-gray-300 rounded-lg p-2 my-3">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
    </div>
    <div class="border border-gray-300 rounded-lg p-2 my-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "text-lg focus:border-b focus:border-twitter-primary outline-none w-full" %>
    </div>
    <div class="flex justify-end">
      <div class="flex flex-col">
        <div class="w-32 text-center border my-3 py-1 px-3 rounded-full bg-twitter-primary text-white font-bold">
          <%= f.submit 'ログイン' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
<% end %>
